.each-event {
  list-style-type: none;
  margin: 10px 0;
}

.event-img {
  height: 200px;
  width: 100%;
}

.name {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  font-family: Roboto;
  margin: 8px 0;
}

.location {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto;
  margin-top: 0;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
